body{
    font-family: arial;
}
#heading{
    text-align: center;
}
.gridContainer{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}
#ToDoInput ,#todoDate{
    font-size: 15px;
    padding: 8px 5px;
}
.btnDelete{
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: rgb(143, 13, 13);
    cursor: pointer;
    color: beige;
}
.btnToDo{
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: rgb(8, 119, 14);
    cursor: pointer;
    color: beige;
}